{% extends "layout.html" %}

{% block content %}
<div class="container">
    <nav class="navbar">
    <div class="navbar-header">
    <span class="navbar-brand">{{ config.APPNAME }}</span>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="error-template" style="padding:40px 15px; text-align: center;">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, Requested page not found!
      </div>
    </div>
  </div>
</div>
{% endblock %}
