{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-default">
    <div class="navbar-header">
      
    <span class="navbar-brand">{{ config.APPNAME }}</span>
    </div>
    <form class="navbar-form navbar-left" role="Input" name="InputMolecule" action="/molIn" method="POST">
      <div class="form-group">
        <input type="text" name="smiles" class="form-control" placeholder="Input SMILES">
      </div>
      <button type="Enter" class="btn btn-default">Enter</button>
    </form>
    <form class="navbar-form navbar-left" role="InputCSV" name="InputCSV" action="/molCsvIn" method="POST">
      <div class="form-group">
        <input type="text" name="path" class="form-control" placeholder="Input SMILES CSV">
      </div>
      <button type="Enter" class="btn btn-default">Enter</button>
    </form>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
        <li><a href="/0">Molecules</a></li>
        <li><a href="/clear">Clear Database</a></li>
        <li><a href="/compare/0&1/">Compare</a></li>
      {% include 'links.html' %}
    </ul>
  </nav>

<div class="col-md-12">
{% block progress%}{% endblock %}
</div>

  <div>
<div class="col-md-12">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="alert alert-warning">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <h2>Molecules in Database</h2>
    <ol start="0" class="list-group">
    {% for rows in data %}
    <li class="list-group-item">
            <a href='/{{ loop.index - 1}}'><b>Molecule{{loop.index - 1}}:</b> {{rows["name"]|e }}</a>
    </li>
    {% endfor %}
  </ol>
</div>
</div>

{% endblock %}

